/* NAVBAR */
.navbar {
  font-family: "Saira", sans-serif;
  width: 100%;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  position: relative;
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

/* CENTER LINKS */
.nav-links {
  display: flex;
  gap: 90px;
}

.nav-item {
  font-family: inherit;
  font-size: 14px;
  z-index: 50;
  cursor: default;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  /* padding-bottom: 5px; */
}

.nav-item:hover {
  border-bottom: 3px solid #ffd100; /* Yellow underline */
}


/* SEARCH */
.search {
  font-size: 20px;
  cursor: pointer;
}

/* MEGA MENU */
.mega-menu {
  position: absolute;
  left: 0;
  top: 70%;
  width: 100%;
  background: #0a0a0a;
  display: flex;
  justify-content: center;
  padding: 20px 80px;
  gap: 10px;
  border-top: 1px solid #222;
  z-index: 999;
}

/* COLUMN */
.mega-column {
  width: 180px;
  padding: 10px;
  cursor: pointer;
}

.mega-icon {
  font-size: 40px;
  /* margin-bottom: 5px; */
  color: #fff;
}

.mega-column h4 {
  font-size: 14px;
  margin-bottom: 5px;
  /* letter-spacing: 1px; */
}

.mega-column p {
  font-size: 14px;
  color: #ccc;
  /* margin-bottom: 5px; */
  cursor: pointer;
}

.mega-column p:hover {
  color: #ffd100;
}
.mega-img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  opacity: 0.6;
  transition: 0.3s ease;
}

/* Hover effect */
.mega-column:hover .mega-img {
  opacity: 1;
  transform: scale(1.05);
}
